build-modern/
# autotools genera esto en el arbol de cjson
components/cjson/configure
components/cjson/Makefile.in
components/cjson/aclocal.m4
components/cjson/autom4te.cache/
components/cjson/config.h.in
components/cjson/compile
components/cjson/config.guess
components/cjson/config.sub
components/cjson/depcomp
components/cjson/install-sh
components/cjson/ltmain.sh
components/cjson/missing
components/cjson/m4/
# qmake construye en el propio arbol (asi lo hacia HP): artefactos fuera de git
components/*/debug-x86/
components/*/Makefile.Ubuntu
components/*/.qmake.stash
